[submodule "fish/plugins/jump.fish"]
	path = fish/plugins/jump.fish
	url = https://github.com/mattgreen/jump.fish.git
[submodule "fish/plugins/lucid.fish"]
	path = fish/plugins/lucid.fish
	url = https://github.com/mattgreen/lucid.fish.git
[submodule "fish/plugins/fzf.fish"]
	path = fish/plugins/fzf.fish
	url = https://github.com/PatrickF1/fzf.fish.git
